.forgotpassword {
    background-color: white;
    height: 80vh;
    width: 100%;
    align-items: center;
    text-align: center;
  }
  h1 {
    font-weight: bolder;
  }
  .passsubheader{
      font-size: 35px;
  }
  .password-header {
    margin-top: 48px;
    font-weight: bold;
  }
  .password-hold-input {
    display: block;
    margin-top: 12%;
  }
  .passinput-1 {
    width: 80%;
    height: 50px;
    border: 1px solid black;
    margin: 10px;
    font-weight: bold;
    border-radius: 4px;
    padding:10px;
  }
  
  .passwordbutton-1 {
    width: 328px;
    height: 54px;
    margin: 10px;
    margin-top: 10%;
    background-color: #9d0208;
    border: none;
    border-radius: 8px;
    color: white;
  }
  link {
    text-decoration: none;
  }
  .password-footer {
    font-weight: bold;
  }
  .cpassword-footer {
    font-weight: bold;
  }
  .app-logo{
    background:url(../images/Pepsa\ Logo.svg);
    width:25px;
    height:25px;
}
.app-logo-2{
    background:url(../images/Pepsa\ Logo\ \(1\).svg);
    width:29px;
    height:28px;
}
.app-name{
    font-weight:bold;
    color: #9D0208;
}
.getstarted{
    background-color: #9D0208;
}
.nav{
    display:flex;
    justify-content:space-between;
}
  