/* .strt-icon{
    background:url(../images/basil_map-location-outline.svg);
    width:5px;
    height:50px;
} */
.address{
    width:90%;
    height:60px;
    background-color:lightgrey;
}
.button{
    width:90%;
    height:60px;
    background-color: #9D0208;
    border-radius:8px;
    border:none;
    color:white;
    font-weight:bold;
    font-size: 20px;
    box-shadow:0px 15px 25px lightgrey;
}